# Xcode
*.xcodeproj/
xcuserdata/
DerivedData/
*.xcworkspace
build/

# iOS
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/keystore/
android/key.properties

# Node
workers/node_modules/

# OS
.DS_Store
Thumbs.db

# Local dev caches
.wrangler/
android/.kotlin/

# Secrets
*.jks
*.keystore
